
<mat-card class="text-white bg-info">
  <h3 mat-dialog-title >License History</h3>
  <div  *ngFor="let details of detailsArray; let i = index">
    <p>{{ details['LABEL']}}   :   {{ details['VALUE']}} </p>
  </div>
</mat-card>





<mat-accordion  *ngFor="let history of historyArray; let i = index" >
  <mat-expansion-panel style="margin-top: 10px; text-align: left;" >
    <mat-expansion-panel-header class="text-white bg-info" >
      <mat-panel-title >
        <mat-chip color="primary" >{{i+1}}</mat-chip>
        <span class="text-white"   style="margin-left: 8px; text-align: center;"> {{ history['AMENDMENT_TYPE']}} {{ history['AMENDMENT_DATE']}} </span>
      </mat-panel-title>
      <mat-panel-description >

      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="card-body">
      <p class="card-title">Document Type : {{ history['AMENDMENT_TYPE']}} </p>
      <p class="card-text">File Number : {{ history['AMENDMENT_NUM']}}  </p>
      <p class="card-text">Date : {{ history['AMENDMENT_DATE']}} </p>
      <button style="cursor: pointer;" class="btn btn-secondary" type="button" (click)="openUrl( history['DOWNLOAD_LINK'])"> <i class="fa fa-file-pdf-o" ></i> Download File</button>
    </div>


  </mat-expansion-panel>
</mat-accordion>



<!--
<mat-vertical-stepper [linear]="isLinear" #stepper   *ngFor="let history of historyArray; let i = index" >
  <mat-step [stepControl]="secondFormGroup"  label="{{i}}  {{ history['AMENDMENT_TYPE']}}   {{ history['AMENDMENT_DATE']}}"  style="border: 2px solil grey;
  border-radius: 8px;" >

    <div class="card text-white bg-info mb-6" style="width: 60%; margin-top: 10px;">

      <div class="card-body">
        <p class="card-title">Document Type : {{ history['AMENDMENT_TYPE']}} </p>
        <p class="card-text">File Number : {{ history['AMENDMENT_NUM']}}  </p>
        <p class="card-text">Date : {{ history['AMENDMENT_DATE']}} </p>
      </div>
       <div class="card-header">


          <button style="cursor: pointer;" class="btn btn-secondary" type="button" (click)="openUrl( history['DOWNLOAD_LINK'])"> <i class="fa fa-file-pdf-o" ></i> Download File</button>

           </div>
    </div>
  </mat-step>
</mat-vertical-stepper>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
 -->



