.mat-form-field + .mat-form-field {
  margin-left: 8px;
  margin-top: 10px;
}

.notice {
  padding: 5px;
  background-color: #fafafa;
  border-left: 6px solid #7f7f84;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
          box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}

.notice2 {
  padding-left: 5px;
  background-color: #fafafa;
  border-left: 6px solid #6C757D;
  margin-bottom: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.align-middle
{
  padding-top: 4px;
}


