

<app-my-tool></app-my-tool>

<!-- <div class="p-shadow-1" >jkljsfdgljgslgjfljglfsdjkll</div>

<button pButton type="button" label="Click" ></button>
<p-button label="Click" ></p-button>





<div class="p-d-flex">Flex Container</div>
<div class="p-d-inline-flex">Inline Flex Container</div>


<div class="p-d-flex">
    <div class="p-mr-2">Item 1</div>
    <div class="p-mr-2">Item 2</div>
    <div>Item 3</div>
</div>

<span class="p-float-label">
    <input id="float-input" type="text" pInputText>
    <label for="float-input">Username</label>
</span>

 -->
