.width-100
{
  width: 100%;
}
.container {
  padding-top: 50px;
  padding-bottom: 10px;
  color: #405065;
}
.display-1 b
{
  font-size: 15px;
}






 /* td {
  display: table-cell;
  text-align: center;
  vertical-align: inherit;
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: center;

} */

th{
  align-items: center;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  display: table-cell;


}
td{
  align-items: center;
  padding: 8px;
  display: table-cell;
  text-align: center;

}



.mat-sort-header-sorted {
  color: rgb(41, 39, 39);
}

.shadow{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

/* ************* blure back view *********** */

.parallax-window {
  min-height: 100%;
}

.container-fluid {
  max-width: 100%;
}
.example-full-width
{
  width: 80%;
}
.btn-sreach
{
  background: transparent;
  margin-left: 20px;
}

.jumbotron
{
  height: 50px;
  margin-bottom: 0px;
}

.btn:hover
{
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* html {
  scroll-behavior: smooth;
} */
/* ************* blure back view *********** */
