
.container {
  padding-top: 50px;
  padding-bottom: 10px;
  color: #405065;
}



.search-hero {
  max-width: 500px;
  padding-bottom: 50px;
  margin:auto;
}

.filterInput{
  float: right;
  max-width: 500px;
  padding-bottom: 10px;
  margin-right: 10px;
}
.filterCard{
width: 100%;
max-height: 10px;

}

.form-control {
  box-shadow: 0 10px 40px 0 #B0C1D9;
}
.form-control::placeholder  {
  font-family: FontAwesome;
}




 /* td {
  display: table-cell;
  text-align: center;
  vertical-align: inherit;
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: center;

} */

th{
  align-items: center;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  display: table-cell;


}
td{
  align-items: center;
  padding: 8px;
  display: table-cell;
  text-align: center;

}



.mat-sort-header-sorted {
  color: rgb(41, 39, 39);
}

.shadow{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

/* ************* blure back view *********** */


.bk{
  background-image: url(../../../../bk.jpg);
  /* -webkit-background-size: 100%;
-moz-background-size: 100%;
-o-background-size: 100%; */
background-size: 100%;
/* Center and scale the image nicely */
/* background-position: center; */
background-repeat: no-repeat;


}


.parallax-window {
  min-height: 100%;
}

.container-fluid {
  max-width: 90%;
}





/* html {
  scroll-behavior: smooth;
} */
/* ************* blure back view *********** */
