<div *ngFor="let log of auditlogJson">



  <div class="card  mat-elevation-z2 align-middle text-center" style="margin-top: 5px;">


    <div class="row  font-weight-normal text-monospace align-middle text-center text-capitalize"
      style="  padding: 7px;">
      <div class="col-sm-1 text-center" style=" ">
        <p class="font-weight-bolder text-center" style=""> {{log.id}} <span style="color: darkgrey;">|</span></p>
      </div>

      <div class="col-sm-3 text-center">

        <p class="text-center"> <i class="fa fa-user-circle" aria-hidden="true"></i> {{log.userName}}</p>
      </div>

      <div class="col-sm-3 text-center">
        <!-- 
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          <i class="fa fa-sign-in" aria-hidden="true"></i>
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i> -->


        <p><i class="fa fa-sign-in" aria-hidden="true"></i> {{log.action}}</p>
      </div>

      <div class="col text-center">
        <p><i class="fa fa-clock-o" aria-hidden="true"></i> {{log.timestamp}}</p>
      </div>






    </div>
  </div>

</div>



<mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
  (page)="handlePageEvent($event)" [pageIndex]="pageIndex">
</mat-paginator>